<header>
    <a routerLink='/home' class="logo"><img src="/assets/logo.png" class="logo" alt="Logo - Supreme Coffee"></a>
    <ul class="navbar">
        <li><a routerLinkActive="active" routerLink='/home' routerLink=''>Início</a></li>
        <li><a routerLinkActive="active" routerLink='/cardapio'>Cardápio</a></li>
        <li><a routerLinkActive="active" routerLink='/freenlancer'>Para Freenlancers</a></li>
        <li><a routerLinkActive="active" routerLink='/ordem-compra'><i class="fas fa-shopping-basket" style="font-size:18px"></i></a></li>
    </ul>
</header>